 #root {
    width:90%;
    height: 800px;
    margin: 0 20px;
    padding: 0;
 }

 p {
    font-size: 20px;
    line-height: 8px;
    margin: 10px 0px;
  }

  #main {
    height: 100%;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 400px 250px 600px;
    grid-template-rows: 350px 500px;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    justify-content: center;
    padding: 10px;
  }
  
  .sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / end;
    /*border: solid gray 1px;*/
    padding: 0 20px;
    background-color: white;
    color: black;
  }
    .outs-bases {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      width: 60%;
    }

    .input-container, .field-container {
      margin: 0 0 0 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    .s-field-container {
      margin: 0 0 5px 0;
    }

    .seperator {
      width: 100%;
      border: solid 0.5px;
      margin: 10px 0px;
    }
    .timeline {
      margin:0;
      width: 100%;
      height: auto;
    }

  .pitcher-list-container {
   grid-column: 2/3;
   grid-row: 1/2;
  }

  .pitcher-list-container header {
    height: 30px;
    padding: 5px;
  }

  .game-list-container {
    grid-column: 2/3;
    grid-row: 2/end;
  }

  .game-list-container header {
    height: 30px;
    padding: 5px;
  }

.tick text {
  font-weight: bold;
}

#tsne {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  /* border: solid gray 1px; */
}

#team {
  margin: auto;
}

#summary-graph {
  background-color: white;
  grid-column: 3 / end;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: solid gray 1px; */
}

#flowgraph-container {
  width: 100%;
  height:100%;
}


#pitch-seq {
  background-color: white;
  grid-column: 3 / end;
  grid-row: 2 / end;
  width: 100%;
  height: 100%;
  /* border: solid gray 1px; */
  overflow: auto;
}

#pitch-index {
  margin-top: 30px;
}
  
polygon:hover {
  fill: pink;
}

#pitch-seq-cardboard {
  display: flex;
  flex-wrap: wrap;
  align-items: 
}

.pitch-seq-card{
  margin: 5px;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 28px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}